﻿@model IEnumerable<WebApplication1.Models.Bank>
@using GridMvc.Html

@{
    ViewBag.Title = "Banke";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <title>Banke</title>
</head>
<body>
    <h1>Banke</h1>
    <hr />
    <div style="width:500px;">
        @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth("100px")
                        .RenderValueAs(d =>
                            @<b>
                        @Html.ActionLink("Details", d.BankID, "Bank/Details")
                            </b>);

                        columns.Add(c => c.Name)
                            .Titled("Naziv")
                            .SetWidth("20px");

                        columns.Add(c => c.Address /* + ", " + c.PostalCode + " " + c.City + ", " + c.Country + ", " + c.State*/)
                            .Titled("Adresa");

                        columns.Add(c => c.WebAddress)
                            .Titled("Web")
                            .SetWidth("50px");

                        columns.Add(c => c.Email)
                            .Titled("Email");

                        columns.Add(c => c.Phone)
                            .Titled("Telefon");

               //         columns.Add(c => c.Fax)
               //             .Titled("Fax");

                        columns.Add(c => c.Director)
                            .Titled("Direktor");

                    //    columns.Add(c => c.StartDate)
                    //        .Titled("Datum otvaranja")
                    //        .Filterable(true);

                    }).WithPaging(10).Sortable().Filterable().WithMultipleFilters()

    </div>
</body>
</html>



@*<ul class="list-boxes">
    @foreach (WebApplication1.Models.Bank bank in Model)
    {
        <li>
            <a href="@Url.Action("Details", "Bank", new { id = bank.BankID })">
                <img style="background-color: #777;" alt="">
            </a>
            @Html.ActionLink(bank.Name, "Details", new { id = bank.BankID})
            <span>Adresa: @bank.Address, @bank.PostalCode @bank.City, @bank.Country, @bank.State </span> |
            <span>Web: @bank.WebAddress </span> |
            <span>E-mail: @bank.Email</span> |
            <span>Tel: @bank.Phone</span> |
            <span>Fax: @bank.Fax</span> |
            <span>Direktor: @bank.Director</span> |
            <span>Datum otvaranja: @bank.StartDate</span> |
        </li>
    }
</ul>*@
